.searchBarWrapper{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
   

}

.searchBar{
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 1.25 rem;
    height: 100%;
    margin-left: 5px;
}

.searchBar:focus{
    outline: none;
}

.searchResultList{
    margin-top: 10px;
    background-color: white;
    width: 100%;
    border-radius: 10px;
   flex-direction: column;
    
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    
    max-height: 200px;
    overflow: hidden;

}
.result{
    padding: 7px 20px;
    
    width: 100%;
    cursor: pointer;
}   

.result:hover{
    background-color: var(--bs-primary);
    color: white;
}